[submodule "asdf"]
	path = asdf
	url = https://github.com/in0k-LazarusIDE-soures/in0k-lazarusIdeSRC-wndDEBUG.git
[submodule "srcExt/in0k-lazarusIdeSRC-wndDEBUG"]
	path = srcExt/in0k-lazarusIdeSRC-wndDEBUG
	url = https://github.com/in0k-LazarusIDE-soures/in0k-lazarusIdeSRC-wndDEBUG.git
[submodule "srcExt/in0k-lazarusIdeSRC-FuckUpForm"]
	path = srcExt/in0k-lazarusIdeSRC-FuckUpForm
	url = https://github.com/in0k-LazarusIDE-soures/in0k-lazarusIdeSRC-FuckUpForm.git
[submodule "srcExt/in0k-lazarusIdeSRC-SourceTREE"]
	path = srcExt/in0k-lazarusIdeSRC-SourceTREE
	url = https://github.com/in0k-LazarusIDE-soures/in0k-lazarusIdeSRC-SourceTREE.git
[submodule "srcExt/in0k-lazarusIdeSRC-SourceTREE-UI"]
	
	path = srcExt/in0k-lazarusIdeSRC-SourceTREE-UI
	
	url = https://github.com/in0k-LazarusIDE-soures/in0k-lazarusIdeSRC-SourceTREE-UI.git

